﻿@model CompanyRegister.Models.Entity.Employee
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
}
<link href="~/Styles/All.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.FirstName</h3>
    </div>
    @using (Html.BeginForm("Edit", "Operator", FormMethod.Post, new { enctpye = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(id => id.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "Id":
                    case "ImageData":
                    case "ImageMimeType":
                        break;

                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;

                }
            }
        </div>
        
        <div class="form-group">
            <div style="position:relative">
                <label>Image</label>
                <a href='javascript:;' class="btn">
                    Choose file...
                    <input type="file" name="Image" size="40" style="position:absolute;z-index:2;top:0;left:0;
                           filter: alpha(opacity=0);opacity:0;background-color:transparent;color:transparent;"
                           onchange='$("#upload-file-info").html($(this).val())' />
                </a>
                <span class="label label-info" id="upload-file-info"></span>
            </div>
            @if (Model.ImageData == null)
            {
                <div class="form-control-static">No Image</div>
            }
            else
            {
                <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Operator", new { Model.Id })" />
            }
        </div>

        <div class="panel-footer">
            <input type="submit" class="btn btn-primary" value="Save" />
            @Html.ActionLink("Cancel and return to all", "All", "Operator", null, new { @class = "btn btn-default" })
        </div>
    }
    <script src="~/Scripts/ImageUploader.js"></script>
</div>